@import './variables.scss';

@mixin app-container {
  display: flex;
  justify-content: center;

  width: 1440px;
  height: 900px;

  margin: 0 auto;

  background: $color-bg-main;
}

@mixin slide-container {
  position: relative;
  width: 425px;
  margin-top: 136px;
}

@mixin auth-form {
  width: 374px;
  margin: 0 auto;
}

@mixin form-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 55px;

  text-align: center;

  color: $color-text-title;
}

@mixin form-msg {
  margin-top: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  text-align: center;

  color: $color-text-title;
}

@mixin form-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

@mixin form-input {
  position: relative;
  width: 374px;
  height: 31px;

  border: 1px solid $color-border-input;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
}

@mixin form-label {
  position: relative;
  margin-bottom: 28px;
}

@mixin label-text {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 0;
  color: $color-text-secondary;
}

@mixin input-behavior {
  &:focus ~ .line:before {
    width: 100%;
    height: 100%;
  }
  &:focus ~ .text {
    font-size: 12px;
    line-height: 14px;
    top: -10px;
  }

  &:not(:focus)[data-valid='false'] ~ .line:before {
    background-color: $color-error;
  }

  &[data-valid='false'][data-touched='true'] ~ .line:before {
    width: 100%;
    height: 100%;
  }

  &:not(:focus)[data-valid='false'][data-touched='true'] {
    color: $color-error;
  }

  &[data-filled='true'] ~ .text {
    font-size: 12px;
    line-height: 14px;
    top: -10px;
  }
}
