$color-bg-main: #ffffff;
$color-text-title: #1c1c1c;
$color-text-button: #ffffff;
$color-text-secondary: #939292;
$color-text-link: #20201f;
$color-border-input: #dedede;
$color-text-checkbox: #000000;
$color-bg-button: #dedede;
$color-focus: #1c1c1c;
