@import '../../sass/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.image {
  width: 186px;
  height: 186px;

  margin: 0 auto;
  margin-top: 140px;
}

.text {
  margin-top: 126px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;

  color: $color-text-title;
}
