@import '../../../sass/mixins.scss';

.input {
  @include form-input;
  @include input-behavior;
}

.label {
  @include form-label;
}

.text {
  @include label-text;
}

.line {
  position: absolute;
  bottom: 0;

  display: none;

  width: 100%;
  height: 1px;

  background-color: $color-focus;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #1c1c1c;
  -webkit-box-shadow: 0 0 0px 1000px $color-bg-main inset;
  transition: background-color 5000s ease-in-out 0s;
}
