@import '../../../sass/mixins.scss';

.input {
  @include form-input;
}

.label {
  @include form-label;
}

.text {
  @include label-text;
}

.switch {
  position: absolute;
  top: 8px;
  right: 5px;

  width: 20px;
  height: 20px;

  padding: 0px;

  background-color: white;
  border: none;
}
